.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none inside;
  margin: 0 -0.25rem 1rem -0.25rem;
  padding: 0;
  user-select: none;
}
.pagination .page-item {
  cursor: pointer;
  display: list-item;
  background-color: #ffffff;
  color: #1d1d1d;
  border: 1px solid #dfdfdf;
  margin: 0.25rem;
  transition: all 0.15s ease-in-out;
}
.pagination .page-link {
  display: block;
  position: relative;
  padding: 0.5rem 0.75rem;
  line-height: 1;
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}
.pagination .page-item:hover,
.pagination .page-item.service:hover {
  background-color: rgba(29, 29, 29, 0.15);
}
.pagination .page-item.no-link {
  pointer-events: none;
  cursor: default;
  border-color: transparent;
}
.pagination .page-item.no-link:hover {
  background-color: #ffffff !important;
  border-color: transparent;
  color: #1d1d1d;
}
.pagination .page-item.disabled {
  pointer-events: none;
  color: #e4e4e4;
}
.pagination .page-item.active {
  background-color: #e4e4e4;
}
.pagination.rounded .page-item {
  border-radius: 0.25rem;
}
.pagination.no-gap {
  margin: 0 0 1rem 0;
}
.pagination.no-gap .page-item {
  margin: -1px;
}
.pagination.no-gap .no-link {
  margin: -1px 1px;
}
.pagination.no-gap.rounded .page-item {
  border-radius: 0;
  overflow: hidden;
}
.pagination.no-gap.rounded .page-item:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.pagination.no-gap.rounded .page-item:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.pagination.size-large .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}
.pagination.size-small .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
