.expand-button {
  width: 36px;
  height: 36px;
  background-size: 1rem 1rem;
  background: center center no-repeat;
  text-indent: -9999px;
  border: 0;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
  position: relative;
  float: left;
  outline: none;
}
.expand-button span {
  position: absolute;
  left: 0.5rem;
  width: 1.2rem;
  height: 2px;
  margin: 0 0 0;
  background: #1d1d1d;
  transform: rotate(0);
  transition: all 0.3s linear;
}
.expand-button span:before,
.expand-button span:after {
  content: '';
  position: absolute;
  top: -0.5rem;
  right: 0;
  width: 1.2rem;
  height: 2px;
  background: #1d1d1d;
  transform: rotate(0);
  transition: all 0.3s linear;
}
.expand-button span:after {
  top: 0.5rem;
}
.expand-button.transform span {
  transform: rotate(180deg);
  background: #1d1d1d;
}
.expand-button.transform span:before,
.expand-button.transform span:after {
  content: '';
  top: -5px;
  right: 0;
  width: 0.75rem;
  transform: rotate(45deg);
}
.expand-button.transform span:after {
  top: 5px;
  transform: rotate(-45deg);
}
.expand-button.light span {
  background-color: #ffffff;
}
.expand-button.light span:before,
.expand-button.light span:after {
  background-color: #ffffff;
}
