.action-button {
  padding: 0;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 0.875rem;
  transition: all 0.15s ease-in-out;
  background-color: #ebebeb;
  color: #1d1d1d;
  cursor: pointer;
  outline: none;
  position: relative;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.action-button .icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  margin-top: 18px;
}
.action-button .icon > * {
  width: 100%;
  max-height: 100%;
  display: inline-block;
}
.action-button.second {
  width: 40px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.action-button.second .icon {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  margin-top: 0;
}
.action-button.prime {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
.action-button:active {
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
.multi-action {
  display: inline-block;
  position: relative;
  width: 56px;
  height: 56px;
}
.multi-action .action-button {
  position: absolute;
  z-index: 2;
  margin: 0 !important;
}
.multi-action .actions {
  position: absolute;
  list-style: none inside none;
  margin: 0 0 0 0;
  padding: 0;
  width: auto;
  float: left;
  background-color: transparent;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.multi-action .actions li {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin: 0;
  background: #989898;
  color: #ffffff;
  transform: scale(0.2);
  line-height: 40px;
  font-size: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.multi-action .actions li a {
  background: inherit;
  color: inherit;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}
.multi-action .actions li:active {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
.multi-action .action-button.active ~ .actions li {
  transition: all 0.3s;
  transform: scale(1);
}
.multi-action .action-button.active ~ .actions li:nth-child(1) {
  margin-top: -56px;
}
.multi-action .action-button.active ~ .actions li:nth-child(2) {
  margin-top: -104px;
}
.multi-action .action-button.active ~ .actions li:nth-child(3) {
  margin-top: -152px;
}
.multi-action .action-button.active ~ .actions li:nth-child(4) {
  margin-top: -200px;
}
.multi-action .action-button.active ~ .actions li:nth-child(5) {
  margin-top: -248px;
}
.multi-action .action-button.active ~ .actions li:nth-child(6) {
  margin-top: -296px;
}
.multi-action .action-button.active ~ .actions li:nth-child(7) {
  margin-top: -344px;
}
.multi-action .action-button.active ~ .actions li:nth-child(8) {
  margin-top: -392px;
}
.multi-action .action-button.active ~ .actions li:nth-child(9) {
  margin-top: -440px;
}
.multi-action .action-button.active ~ .actions li:nth-child(10) {
  margin-top: -488px;
}
.multi-action .action-button.active ~ .actions.drop-bottom li:nth-child(1),
.multi-action .action-button.active ~ .actions.drop-down li:nth-child(1) {
  margin-top: 56px;
}
.multi-action .action-button.active ~ .actions.drop-bottom li:nth-child(2),
.multi-action .action-button.active ~ .actions.drop-down li:nth-child(2) {
  margin-top: 104px;
}
.multi-action .action-button.active ~ .actions.drop-bottom li:nth-child(3),
.multi-action .action-button.active ~ .actions.drop-down li:nth-child(3) {
  margin-top: 152px;
}
.multi-action .action-button.active ~ .actions.drop-bottom li:nth-child(4),
.multi-action .action-button.active ~ .actions.drop-down li:nth-child(4) {
  margin-top: 200px;
}
.multi-action .action-button.active ~ .actions.drop-bottom li:nth-child(5),
.multi-action .action-button.active ~ .actions.drop-down li:nth-child(5) {
  margin-top: 248px;
}
.multi-action .action-button.active ~ .actions.drop-bottom li:nth-child(6),
.multi-action .action-button.active ~ .actions.drop-down li:nth-child(6) {
  margin-top: 296px;
}
.multi-action .action-button.active ~ .actions.drop-bottom li:nth-child(7),
.multi-action .action-button.active ~ .actions.drop-down li:nth-child(7) {
  margin-top: 344px;
}
.multi-action .action-button.active ~ .actions.drop-bottom li:nth-child(8),
.multi-action .action-button.active ~ .actions.drop-down li:nth-child(8) {
  margin-top: 392px;
}
.multi-action .action-button.active ~ .actions.drop-bottom li:nth-child(9),
.multi-action .action-button.active ~ .actions.drop-down li:nth-child(9) {
  margin-top: 440px;
}
.multi-action .action-button.active ~ .actions.drop-bottom li:nth-child(10),
.multi-action .action-button.active ~ .actions.drop-down li:nth-child(10) {
  margin-top: 488px;
}
.multi-action .action-button.active ~ .actions.drop-right li {
  margin-top: 0;
}
.multi-action .action-button.active ~ .actions.drop-right li:nth-child(1) {
  margin-left: 56px;
}
.multi-action .action-button.active ~ .actions.drop-right li:nth-child(2) {
  margin-left: 104px;
}
.multi-action .action-button.active ~ .actions.drop-right li:nth-child(3) {
  margin-left: 152px;
}
.multi-action .action-button.active ~ .actions.drop-right li:nth-child(4) {
  margin-left: 200px;
}
.multi-action .action-button.active ~ .actions.drop-right li:nth-child(5) {
  margin-left: 248px;
}
.multi-action .action-button.active ~ .actions.drop-right li:nth-child(6) {
  margin-left: 296px;
}
.multi-action .action-button.active ~ .actions.drop-right li:nth-child(7) {
  margin-left: 344px;
}
.multi-action .action-button.active ~ .actions.drop-right li:nth-child(8) {
  margin-left: 392px;
}
.multi-action .action-button.active ~ .actions.drop-right li:nth-child(9) {
  margin-left: 440px;
}
.multi-action .action-button.active ~ .actions.drop-right li:nth-child(10) {
  margin-left: 488px;
}
.multi-action .action-button.active ~ .actions.drop-left li {
  margin-top: 0;
}
.multi-action .action-button.active ~ .actions.drop-left li:nth-child(1) {
  margin-left: -56px;
}
.multi-action .action-button.active ~ .actions.drop-left li:nth-child(2) {
  margin-left: -104px;
}
.multi-action .action-button.active ~ .actions.drop-left li:nth-child(3) {
  margin-left: -152px;
}
.multi-action .action-button.active ~ .actions.drop-left li:nth-child(4) {
  margin-left: -200px;
}
.multi-action .action-button.active ~ .actions.drop-left li:nth-child(5) {
  margin-left: -248px;
}
.multi-action .action-button.active ~ .actions.drop-left li:nth-child(6) {
  margin-left: -296px;
}
.multi-action .action-button.active ~ .actions.drop-left li:nth-child(7) {
  margin-left: -344px;
}
.multi-action .action-button.active ~ .actions.drop-left li:nth-child(8) {
  margin-left: -392px;
}
.multi-action .action-button.active ~ .actions.drop-left li:nth-child(9) {
  margin-left: -440px;
}
.multi-action .action-button.active ~ .actions.drop-left li:nth-child(10) {
  margin-left: -488px;
}
.multi-action .action-button .icon {
  transition: all 0.3s;
}
.multi-action .action-button.active.rotate .icon {
  transform: rotate(45deg);
}
.multi-action .action-button.active.rotate-minus .icon {
  transform: rotate(-45deg);
}
.action-button.floating-action-top,
.multi-action.floating-action-top {
  z-index: 1080;
  top: 90px;
  left: 16px;
  position: fixed;
}
.action-button.floating-action-bottom,
.multi-action.floating-action-bottom {
  z-index: 1080;
  bottom: 20px;
  right: 20px;
  position: fixed;
}
