.textarea,
textarea {
  height: auto;
  padding: 0.5rem 0.75rem;
}
textarea {
  line-height: 1.2;
}
.textarea {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
.textarea .fake-textarea {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: lightblue;
  border: 1px solid red;
}
.textarea textarea {
  min-height: 4rem;
  overflow-y: hidden;
  resize: none;
  border: none!important;
  transition: height 0.1s linear;
}
.textarea textarea:focus {
  box-shadow: none;
}
.textarea.no-scroll-vertical textarea {
  overflow-y: hidden!important;
}
.textarea .input-clear-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: transparent;
}
.textarea .input-clear-button:hover {
  background-color: #f8f8f8;
  text-shadow: rgba(0, 0, 0, 0.25) 0.1em 0.1em 0.2em;
}
.textarea.disabled .clear-button {
  display: none;
}
.textarea .prepend {
  order: 1;
}
.textarea .append {
  order: 3;
}
.textarea textarea {
  order: 2;
}
.textarea .input-clear-button ~ textarea {
  padding-right: 48px;
}
