.guide-main-container {
    min-height: 100%;
    padding: 0;
    display: flex;
    flex-flow: column;

    & > .row {
        flex: 1;
    }
}

article {
    padding: 10px 40px;
}

.demo-inline-box {
    display: inline-block;
    width: 24px;
    height: 24px;
}

each(range(12), {
    .iterator-@{value} {
        a: b;
    }
})
