.image-button {
  display: inline-flex;
  transition: all 0.15s ease-in-out;
  background-color: #ebebeb;
  color: #1d1d1d;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  outline: none;
  position: relative;
  font-size: 14px;
  padding: 0 0.5rem 0 0;
  align-items: center;
  height: 36px;
  line-height: 30px;
  font-weight: 400;
}
.image-button:hover {
  background-color: rgba(29, 29, 29, 0.15);
}
.image-button:active,
.image-button.focus,
.image-button:focus {
  box-shadow: 0 0 0 3px rgba(228, 228, 228, 0.45);
}
.image-button .icon {
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 1rem;
  background-color: rgba(69, 90, 100, 0.55);
  color: #ffffff;
  order: 1;
  text-align: center;
}
.image-button .caption {
  margin-left: 0.5rem;
  text-align: left;
  color: inherit;
  order: 2;
  font-weight: 400;
  line-height: 1.2;
}
.image-button .caption small {
  display: block;
  font-size: 0.8rem;
}
.image-button.icon-right {
  padding: 0 0 0 0.5rem;
}
.image-button.icon-right .icon {
  order: 2;
}
.image-button.icon-right .caption {
  order: 1;
  margin-left: 0;
  margin-right: 0.5rem;
}
.image-button:focus,
.image-button:hover,
.image-button.focus {
  text-decoration: none;
}
.image-button:active {
  box-shadow: none;
  outline: 0;
  box-shadow: 0 0 0 3px rgba(190, 190, 190, 0.45);
}
.image-button.disabled,
.image-button:disabled {
  opacity: 0.65;
}
.image-button.outline {
  background: transparent none;
  border-width: 1px;
  border-color: #dfdfdf;
}
