.tool-button {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  background-color: #ebebeb;
  color: #1d1d1d;
  user-select: none;
  border: 1px solid transparent;
  transition: all 0.15s ease-in-out;
  padding: 0;
  cursor: pointer;
  outline: none;
  margin: 0 2px;
  position: relative;
  font-size: 14px;
}
.tool-button [class*=mif],
.tool-button .icon,
.tool-button img {
  height: 1rem;
  max-height: 1rem;
  font-size: 1rem;
}
.tool-button.text-button {
  width: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.tool-button:focus,
.tool-button:hover {
  text-decoration: none;
}
.tool-button:hover {
  background-color: rgba(29, 29, 29, 0.15);
}
.tool-button:active {
  outline: 0;
  box-shadow: none;
}
.tool-button.outline {
  background: transparent none;
  border-width: 1px;
  border-color: #dfdfdf;
}
.tool-button.disabled,
.tool-button:disabled {
  opacity: 0.65;
}
a.tool-button {
  text-decoration: none;
  color: #1d1d1d;
}
.toolbar {
  display: inline-flex;
  position: relative;
  padding: 0 0 0 0.5725rem;
  top: 2px;
  flex-flow: row nowrap;
  margin-left: 4px;
}
.toolbar.no-divider::before {
  display: none;
}
.toolbar::before {
  position: absolute;
  content: "";
  width: 0.325rem;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(69, 90, 100, 0.2);
  cursor: move;
}
.toolbar.vertical {
  flex-flow: column nowrap;
  padding: 0.5725rem 0 0 0;
  width: 32px;
  margin-left: 0;
  margin-top: 4px;
}
.toolbar.vertical::before {
  width: 32px;
  height: 0.325rem;
}
.toolbar.vertical .tool-button {
  margin: 2px 0;
}
