.progress {
  display: block;
  position: relative;
  width: 100%;
  height: 12px;
  overflow: hidden;
  background: transparent;
}
.progress .back,
.progress .bar,
.progress .buffer,
.progress .load {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.progress .back {
  background-color: #eee;
  width: 100%;
  z-index: 1;
}
.progress .load {
  width: 100%;
  animation: progress-loading 3s infinite linear;
  background: radial-gradient(#a9c0e9 0%, #a9c0e9 16%, transparent 42%);
  background-size: 12px 12px;
  margin-top: -1px;
  z-index: 2;
}
.progress .buffer {
  z-index: 3;
  background-color: #ffffff;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.progress .bar {
  z-index: 4;
  background: #60a917;
}
.progress .value {
  display: block;
  position: absolute;
  z-index: 5;
  font-size: 11px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 4px;
}
.progress.line {
  background-color: #b3d4fc;
  display: flex;
}
.progress.line::before {
  height: 100%;
  width: 100%;
  background-color: #004d6f;
  content: '';
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
.progress.small {
  height: 6px;
}
.progress.small .load {
  background-size: 6px 6px;
}
@keyframes progress-loading {
  0% {
    opacity: 1;
    background-position: 0px -23px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-position: -200px -23px;
  }
}
@keyframes running-progress {
  0% {
    margin-left: 0;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
