.shortcut {
  width: 6rem;
  height: 6rem;
  padding: 0.5rem;
  display: inline-flex;
  flex-direction: column;
  font-size: 0.9rem;
  transition: all 0.15s ease-in-out;
  background-color: #ebebeb;
  color: #1d1d1d;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  position: relative;
  align-items: center;
  justify-content: space-between;
  outline: none;
}
.shortcut .icon,
.shortcut .caption {
  display: block;
  line-height: 1;
}
.shortcut .icon {
  display: block;
  vertical-align: middle;
  width: 1.7rem;
  height: 1.7rem;
  font-size: 1.7rem;
  margin-top: 1rem;
  order: 1;
}
.shortcut .caption {
  color: inherit;
  height: 1.2rem;
  order: 2;
}
.shortcut .icon ~ .caption {
  margin-top: 0.875rem;
}
.shortcut .badge {
  position: absolute;
  font-size: 0.6875rem;
  top: 0.25rem;
  right: 0.25rem;
  color: inherit;
  transform: none;
  background-color: inherit;
}
.shortcut.no-caption .icon {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  margin-top: 1.5rem;
}
.shortcut:hover {
  background-color: rgba(29, 29, 29, 0.15);
}
.shortcut.focus,
.shortcut:focus {
  box-shadow: 0 0 0 3px rgba(228, 228, 228, 0.45);
}
.shortcut.outline {
  background: transparent none;
  border-width: 1px;
  border-color: #dfdfdf;
}
.shortcut:focus,
.shortcut:hover,
.shortcut:active {
  text-decoration: none;
}
.shortcut:active {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(190, 190, 190, 0.45);
}
.shortcut.disabled,
.shortcut:disabled {
  opacity: 0.65;
}
.shortcut:active {
  box-shadow: none;
}
